Source: revolutionist76
Section: misc
Priority: extra
Maintainer: kyler Chin <kylerschin@gmail.com>
Build-Depends: debhelper (>= 8.0.0), perl, git, make, build-essential, dpkg-dev
Standards-Version: 3.9.2
Homepage: https://system76.com
Package: revolutionist76
Architecture: all
Depends: none
Description: This helps you join the open source revolution! #Revolutionist76
Version: 1.0.0
